@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #014BCB;
    display: grid;
    grid-template-columns: 10% auto;
    height: 100vh;
    color: white;
    font-family: 'Nunito';
    grid-gap: .5em;
}

sidebar {
    background: #1D3154;
}
.content {
    background: #6C22FF;
    padding: .5em;
    width: 50%;
    margin-right: 2em;
    border-radius: .8em;
    max-width: 500px;
    min-width: 300px;
}
h1 {
    margin-left: 1em;
    font-size: 1em;
}
h3 {
    margin: 0;
    font-size: .9em;
    color: #FF69F5;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}
li {
    margin-bottom: .5em;
    font-size: .8em;
}
span {
    float: right;
}

h1 > span {
  float: none;
  margin-right: .25em;
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  border: 1px dashed #FFF;
  padding: .12em .2625em .05em;
  border-radius: 50%;
  background: #306cd4;
}
/*  
    Your Fixes Below
    
    Please keep the same background color
    and the same sidebar background color.
    
*/
  
body {
    grid-gap: 3em;    /* Improve the white space */
}

.content {
    background: #306cd4;  /* Improve the color/contrast */
    padding: 1.5em 2em;     /* Improve the white space */
}

h1 {
    margin: 1em 0 0.275em 0;  /* Improve the alignment */
    font-size: 2.75rem;   /* Improve the visual hierarchy */
}

h3 {
  font-size: 1.4rem;
  color: #cc89c9;
  border-bottom: 2px double #fff;
  margin-bottom: 0.4em;
  padding-bottom: .125em;
}

ul {
  margin-top: 0.25em;
}

li {
  font-size: .9rem;
  border-bottom: 1px dashed #FFF;
  padding-bottom: .25em;
}