*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: poppins, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

div.container {
  display: grid;
  place-items: center;
  height: 100vh;
}

div.card-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  grid-gap: 0 1em;
  width: 60%;
  max-width: 800px;
  padding: 1.75em 2.25em;
  border-radius: 15px;
  box-shadow: 0 0 70px 30px rgba(0, 0, 0, 0.171);
  overflow: hidden;

  background: #ff6e7f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #bfe9ff, #ff6e7f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #bfe9ff, #ff6e7f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

div.row > h1 { 
  font-size: 1.5rem;
  font-weight: 700;
}

div.one {
  border-bottom: 4px solid black;
}

div.one, 
div.two {
  padding-bottom: .75em;
}

div.three {
  grid-column: 1 / -1;
  border-top: 1px solid black;
  padding: 2.25em 0 5.75em;
}

div.three > p {
  margin-left: .25em;
  font-size: 1.1rem;
  line-height: 1.5;
}

p.para-one {
  display: block;
}

p.para-one-invisible {
  display: none;
}

p.para-two {
  display: none;
}

.clicked-right {
  display: block;
  animation: right-to-left .18s ease backwards;
}

@keyframes right-to-left {
  0% {
    transform: translateX(150%);
  }

  100% {
    transform: translateX(0);
  } 
}

.clicked-left {
  display: block;
  animation: left-to-right .18s ease forwards;
}

@keyframes left-to-right {
  0% {
    transform: translateX(-150%);
  }

  100% {
    transform: translateX(0);
  } 
}