@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caramel&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-columns: 10% auto;
  height: 100vh;
  background: rgb(24, 24, 24);
  color: whitesmoke;
}

.container {
  width: 90%;
  margin-left: -.03em;
  position: relative
}

.container::before {
  position: absolute;
  content: "STOP";
  font-size: 30rem;
  z-index: -2;
  font-weight: bolder;
  color: rgb(175, 134, 134);
  top: 3%;
  left: -5%;
  opacity: .25;
}

sidebar {
  background: rgb(31, 31, 31);
  z-index: -1;
  border: 1px solid whitesmoke;
}

h1 {
  font-size: 5.5rem;
  margin-bottom: .25em;
  padding: .25em .25em .175em;
  color: rgb(196, 196, 196);
  background:rgb(31, 31, 31);
  width: 75%;
  border: 1px solid whitesmoke;
  border-left: none;
}

h1 > span:nth-child(1) {
  color: rgb(182, 40, 147);
  text-shadow: 2px 2px 5px rgb(58, 58, 58);
}

p {
  margin: 0 0 0 .5em;
  padding: 0 0 0 .5em;
  font-family: "Caramel", cursive;
  font-size: 3rem;
  letter-spacing: .12825em;
  color: rgb(196, 196, 196);
  font-weight: bold;
}

/*

- White Space
- Color 
- Contrast 
- Scale
- Alignment
- Typography
- Visual Hierarchy

*/