@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    height: 100vh;
    overflow: hidden;
}

body {
  display: grid;
  /* place-items: center; */
  background: linear-gradient(0deg, rgb(41, 41, 41) 32%, rgb(175, 175, 175) 32%, rgb(90, 90, 90) 100%);
}

.container {
  width: 90%;
  margin-left: 4em;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: .25em;
  color: #84d7f0;
  text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.521);
}

h1 > span {
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  /* border: 1px dashed rgb(73, 73, 73); */
  border-radius: 10px;
  margin-top: .125em;
  padding: .25em 0 .25em .5em;
  width: 100px;
  background: #D3CCE3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #E9E4F0, #dcd4f0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #E9E4F0, #6a6575); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-shadow: none;
  color:rgb(73, 73, 73);
  box-shadow: 0 0 5px 1.75px rgba(0, 0, 0, 0.13);
}

span::before {
  content: '1:30 PM';
  font-size: 20rem;
  position: absolute;
  color: #F4F4F4;
  z-index: -1;
  white-space: nowrap;
  left: -1%;
  top: -5%;
  opacity: .075;
}

p {
  max-width: 55%;
  min-width: 50%;
  font-size: 1.2rem;
  line-height: 1.5em;
  padding: 0 .25em;
  color:rgb(73, 73, 73);
  border-left: 5px double #84d7f0;
  margin-left: 0.25em;
  padding-left: 1em;
}

p + p {
  border-left-color: #5a595c77;
}
/*

- White Space
- Color 
- Contrast 
- Scale
- Alignment
- Typography
- Visual Hierarchy

*/